@import "../../../mixins";

.container {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  font-family: Jost;
  gap: 3%;
  @include mobile {
    flex-direction: column;
  }
  .requests {
    @include mobile {
      margin-top: 2%;
    }
    .titles {
      .title {
        color: #3a4374;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.25px;
      }
      .subtitle {
        color: #647196;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
