<div class="empty-state-container">
  <div class="empty-state">
    <div class="empty-state-image">
      <img src="../../../assets/suggestions/illustration-empty.svg" />
    </div>
    <div class="empty-state-messages">
      <div class="header">
        <p>There is no feedback here yet.</p>
      </div>
      <div class="message">
        <p>
          Got a suggestion? Found a bug that needs to be squashed? We love
          hearing about new ideas to improve our app.
        </p>
      </div>
      <div class="add-feedback">
        <button (click)="goToAddFeedbackPage()">+ Add Feedback</button>
      </div>
    </div>
  </div>
</div>
